* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #0e1f53;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    width: 400px;
    padding: 20px;
    border-radius: 12px;
    gap: 16px; 
}

img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 12px;
    margin-bottom: 16px;
    padding-top: 10px;
}

h2 {
    color: white;
    margin-bottom: 10px;
}

#tempo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

hr {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px 0;
}

#mensagem p {
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

p{
    font-weight: bold;
}